html, body{
  height: 100%;
  font-family: monospace;
  font-size: 1.1em;
  letter-spacing: 1px;
}
#content_header{ font-size: 1.2em; }
#courtain{
  background: black;
  z-index: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  animation: fadeout 2.3s ease-out;
  opacity: 0;
}
#social_icon_title{ color: #eac26e; font-size: 0.8em; width: 100%;}
#social_icons #social_icon_title{ visibility: hidden; }
#social_icons:hover #social_icon_title{ visibility:visible; }
.cmd_prompt::before{content: ">"; color: #3f3;}
.with_caret::after{content: "_"; color: white; animation: blink 0.8s infinite;}
.indented{ text-indent: 1em;}
.justified{ text-align: justify;}
#content_body{font-size: 1em;}
#home{padding:0.5em; background: rgba(0,0,0,0.5); border-radius: 0.3em; color:#3f3;}
/* #home p{-webkit-hyphens: auto;-moz-hyphens: auto;-ms-hyphens: auto;hyphens: auto;} */
#amus{visibility: hidden;width: 8em;position: fixed;z-index: 100;bottom:2em;}
.run_left{ animation: run_left 6s 5s linear;}
t1{font-size: 15px;font-weight: bold;}
p{color: #e0e4e8;}
.accordion-body >p{font-size: 14px;color: #28435f;}
.accordion-body a, .green_link{color: #5db24f;}
.accordion-body a:hover, .green_link:hover{color: #5db24f;  text-shadow: 1px 1px 5px yellow;font-weight: bolder; }
.back_wcloud{
  background:url('../images/pattern.png');
  position: relative;
  min-height: 100%;
}
.foreground{
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
}
.black_fading{
  background: rgb(29,32,38);
  background: linear-gradient(180deg, rgba(29,32,38,1) 0%, rgba(29,32,38,0.99) 35%, rgba(29,36,38,0.91) 100%);
}
.blue_fading{
  background: rgb(16,42,67);
  background: linear-gradient(180deg, rgba(16,42,67,1) 0%, rgba(36,59,83,0.99) 35%, rgba(56,82,107,0.91) 100%);
}
.orange_fading{
  background: rgb(31,41,51);
  background: linear-gradient(180deg, rgba(31,41,51,1) 0%, rgba(50,63,75,0.99) 35%, rgba(61,76,92,0.91) 100%);
}
.nav-link{padding: 1em 1em; background: rgba(0,0,0,0.2);}
.black_link{color: #3f3;opacity: 0.6;}
.black_link:hover{color: #adf29f;  text-shadow: 1px 1px 10px #8d9;font-weight: bolder;opacity: 1; }
.blue_link{color: #00e4d0;opacity: 0.5;} /*#9df28f;}*/
.blue_link:hover{color: #10f4e0;  text-shadow: 1px 1px 10px #1ed;font-weight: bolder;opacity: 1; }
.orange_link{color: #e8a96a;opacity: 0.5;} /*#9df28f;}*/
.orange_link:hover{color: #e8a96a;  text-shadow: 1px 1px 10px #eb7;font-weight: bolder;opacity: 1; }
.nav-item .active {font-weight: bolder;opacity:1;background: unset; }
.nav{
  border-radius: 0.1em;
  /* border-bottom: 1px dashed #37434e; */
  padding-bottom: 0.5em;
}
.accordion{background-color:#f0f4f8 !important;}
.collapsed{
  background: #cdd;
  color: #035;
}
.accordion-button{ padding-top: 1.7em; padding-bottom: 1.7em;}
.carousel{width:70%;margin-left:15%;}
.flex-container {display:flex; margin-top: 0.6em;}
.flex-child {flex: 1;}
.flex-child:first-child {
  margin-right: 1.5em;
  text-align: right;
}
#sectionA{text-align: justify;}
myname{font-weight:bold;color:#ef606b;}
mayor{color:#eac26e;}
school{color:#c99057;}
#me_pic{width: 7em;}
#me_description{padding-top:1em;}
.quote{padding-top:1.5em;text-align: center; font-size: 15px; font-style: italic;}
/* .small_icons{opacity:0.8} */
.entry{
  text-align: center;
  margin-top: 3em;
  border-top: 1px dashed #455;
  padding-top: 2em;
}
#social_icons{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* .light_link{ font-size: 0.9em;letter-spacing: 2px; color:#ccc; text-decoration:none;}
.light_link:hover{ color:#eee; font-weight: bolder; text-shadow: 1px 1px 10px #aaa;} */
.social_icon{padding: 0 1em 0 1em;}
.w-100{width: 80% !important; margin-left: 10%; margin-bottom: 2em;}
#date_and_time{color: #e9c16e;display: none;}
@keyframes run_left {
  0% {visibility: visible; left: 100%;}
  100%{visibility: hidden; left:-5em;}
}
@keyframes fadeout {
  0% { opacity:1; display: block; z-index: 5; }
  100% { opacity:0; display: none; z-index: 0; }
}
@keyframes blink {
  0% {opacity: 1;}
  50%{ opacity: 0;}
}
@media (max-width: 549px) {
#content_header{ font-size: 1.1em; }
  #content_body{
    padding: 1em 0.5em 0em 0.5em;
  }
  #me_pic{width: 5em;}
  #me_description{padding-top:0em;}
  .carousel{
    width:100%;margin-left:0%;
  }
}
@media (min-width: 550px) {
  /* .foreground{ padding: 1em; } */
  #myWorksAccordion{
    width: 90%;
    margin-left: 5%;
  }
  #content_body{ padding: 1.5em 3em 0em 3em; }
}
@media (min-width: 800px) {
  #content_body{
    padding: 2.5em 3em 0em 3em;
    max-width: 900px;
    margin: auto;
  }
}
